<div class="container" style="max-width: 1450px;">
    <div class="row">
        <div class="col-sm">
            <nav class="navbar navbar-light bg-beauty">
                <a class="navbar-brand" href="/?page=1">SmallFood</a>
                <form class="form-inline" method="POST" action="search/">
                    {% csrf_token %}
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" value="">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </nav>
        </div>
    </div>
</div>