body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.table-container{
  max-height: 533px;
  overflow-y: auto;
}

.bg-beauty {
  background-color: rgb(25, 196, 139);
}

.bg-main {
  background-color: rgb(2, 163, 109);
  min-height: 92vh;
}

.table-info {
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-info-wrapper {
  margin: 18px;
  padding: 4px 18px;
  background-color: rgb(224, 179, 65);
  border-radius: 20px;
  text-align: center;
}

.table-info-text {
  text-align: center;
  font-size: 100px;
}

.main-filter {
  display: flex;
  align-items: center;
}

.main-filter-config {
  margin: 20px;
  padding: 5px 10px;
  background-color: rgb(250, 175, 77);
  text-align: center;
  border-radius: 3px;
}

.main-filter-result {
  padding: 2px 20px;
  background-color: rgb(42, 213, 39);
  border-radius: 10px;
}

th,
td{
  width: 300px;
  line-height: 20px;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  max-width: 300px;
  text-overflow: ellipsis;
}