.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 600px;
    height: 400px;
    margin: 30px auto;
    background-color: #f9f9f9;
}

.flex-column-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
    margin-top: 60px;
}

.area,
.food,
.search,
.delete {
    padding: 7px 5px;
    width: 90px;
}

.area {
    margin-bottom: 10px;
}

.food {
    margin-top: 10px;
}

.delete {
    margin-left: 10px;
}

.search {
    margin-right: 10px;
}

.filter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-height: 300px;
    width: 450px;
    overflow-y: scroll;
    background-color: #fff;
}

.flex-row-checkbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    width: 100%;
}

.form-check {
    height: 30px;
}

.districts {
    display: none;
}

.cuisines {
    display: none;
}

.main-filter-dasboard {
    position: relative;
}

.main-filter-form-dashboard {
    position: absolute;
    top: 0;
}

.main-filter-config {
    display: flex;
    flex-direction: row;
    width: 100px;
    justify-content: space-around;
    align-items: center;
}