{% extends 'search/main.html' %}

{% block content %}

<form class="flex-column p-2 rounded" method="post" action="/filter/">
    {% csrf_token %}
    <div class="flex-row-checkbox border-bottom p-3">
        <div class="flex-column-area">
            <button type="button" class="btn btn-primary area">Khu vực</button>
            <button type="button" class="btn btn-info food">Ẩm thực</button>
        </div>

        <div class="filter p-3 rounded">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="districts" value="Quận 1" id="quan1">
                <label class="form-check-label" for="quan1">
                    Quận 1
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="districts" value="Quận 2" id="quan2">
                <label class="form-check-label" for="quan2">
                    Quận 2
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="districts" value="Quận 3" id="quan3">
                <label class="form-check-label" for="quan3">
                    Quận 3
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="districts" value="Quận 4" id="quan4">
                <label class="form-check-label" for="quan4">
                    Quận 4
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="districts" value="Quận 5" id="quan5">
                <label class="form-check-label" for="quan5">
                    Quận 5
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="districts" value="Quận 6" id="quan6">
                <label class="form-check-label" for="quan6">
                    Quận 6
                </label>
            </div>


        </div>

    </div>

    <div class="flex-row-search-delete p-3">
        <button type="submit" class="btn btn-success search">Tìm kiếm</button>
        <button onclick="deleteFilter(this);" type="button" class="btn btn-danger delete">Xóa bộ lọc</button>
    </div>

</form>


{% endblock content %}