{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
</head>

<body>
  <div class="main-dashboard" style="float: left; width: 56%;   position: absolute; margin: auto; top: 0; right: 0; left: 0;">
    <h1>Comparison dashboard</h1>
    <div style="float: left;">
      <div class="card-block">
        {% autoescape off %}
        {{ review_type }}
        {% endautoescape %}
      </div>
    </div>
    <div style="float: left;padding-top: 15px; ">
      <div class="card-block">
        {% autoescape off %}
        {{ seeding }}
        {% endautoescape %}
      </div>
    </div>

    <div style="float: left; padding-top: 10px;">
      <div class="card-block">
        {% autoescape off %}
        {{ user_score }}
        {% endautoescape %}
      </div>
    </div>

    <div style="float: left; padding-top: 10px;">
      <div class="card-block">
        {% autoescape off %}
        {{ component_score }}
        {% endautoescape %}
      </div>
    </div>
  </div>


</body>

</html>