{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
    <title>matplot</title>
  </head>

  <body>
    <p><b>Tên quán:</b> ABC</p>
    <p><b>Địa chỉ:</b> ABC</p>
    <p><b>Hỗ trợ giao hàng:</b> ABC</p>
    <p><b>Phụ phí tối thiểu:</b> ABC</p>
    <p><b>Thông tin thêm:</b> ABC</p>
    <p><b>Giờ mở cửa:</b> ABC</p>

    {% autoescape off %}
        {{ review_seeding }}
    {% endautoescape %}

    <!-- <img src="data:image/png;base64,{{ score }}" alt="" heght="700", width="1100">
    <br>

    {% autoescape off %}
        {{ draft }}
    {% endautoescape %}

    <br>
    <img src="data:image/png;base64,{{ menu }}" alt="" heght="500", width="900"> -->


  </body>
</html>