{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&amp;display=swap">

    <style>
      div.relative {
        position: relative;
        left: 40px;
      }
    </style>
  </head>

  <body style="background-color:rgb(238, 227, 227);">
    <div class="center1">
      <div>
        <h2><a href="https://www.foody.vn/{{ page }}">{{ name }} </a></h2>
        <table>
          <tr>
            <td>
              <p><b><i class="fa-solid fa-location-pin"></i> Địa chỉ: </b> {{ address }}</p>
            </td>
            <td>
              <p><b><i class="fa-solid fa-clock"></i> Giờ mở cửa: </b> {{ opentime }} </p>
            </td>
          </tr>
          <tr>
            <td>
              <p>
                <b><i class="fa-solid fa-truck-fast"></i> Hỗ trợ giao hàng: </b>
                {% if isdelivery %}
                Có giao hàng
                {% else %}
                Không giao hàng
                {% endif %}
              </p>
            </td>
            <td>
              <p><b><i class="fa-solid fa-solid fa-tag"></i> Phụ phí tối thiểu: </b> {{ mincharge }} VND </p>
            </td>
          </tr>
          <tr>
            <td>
              <p><b><i class="fa-solid fa-circle-info"></i> Thông tin thêm: </b> {{ extrainfo }}</p>
            </td>
            <td>
              <p><b><i class="fa fa-camera"></i> Số hình ảnh của quán: </b> {{ totalpics | floatformat:"0" }} ảnh/video</p>
            </td>
          </tr>
          <tr>
            <td>
              <p><b><i class="fa-regular fa-eye"></i> Lượt xem: </b> {{ totalviews | floatformat:"0"}} lượt xem</p>
            </td>
            <td>
              <p><b><i class="fa-solid fa-bookmark"></i> Lượt lưu vào bộ sưu tập: </b> {{ totalsaves | floatformat:"0"}} lượt lưu</p>
            </td>
          </tr>
          <tr>
            <td>
              <p><b><i class="fa-solid fa-person"></i> Sức chứa cửa hàng: </b> {{ capacity |floatformat:"0"}} người lớn</p>
            </td>
            <td>
              <p><b><i class="fa-solid fa-solid fa-tag"></i> Phí dịch vụ: </b> {{ servicefee }} VND</p>
            </td>
          <tr>
            <td>
              <p><b><i class="fa-solid fa-solid fa-tag  "></i> Phí ship tối thiểu: </b> {{ minshipfee }} VND</p>
            </td>
            <td>
              <p>
                <b><i class="fa fa-gift"></i> Mã khuyến mãi: </b>
                <span class="coupon__tags">
                  {% for c in coupons %}
                  <span class="coupon__tag" href="#{{ c.promo_code }}">
                    Giảm {{ c.discount }} VND
                  </span>
                  {% endfor %}
                  {% for c in coupons %}
                  <!-- The Modal -->
                  <div id="{{ c.promo_code }}" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content">
                      <div class="modal-header">
                        <span class="close">×</span>
                      </div>
                      <div class="modal-body">
                        <div class="coupon">
                          <div class="container">
                            <h3>Ưu đãi</h3>
                          </div>
                          <div class="container" style="background-color:white">
                            <h2><b>{{ c.discount }} VND OFF YOUR PURCHASE</b></h2>
                            <div>{{ c.promo_description }}</div>
                          </div>
                          <div class="container">
                            <p>Use Promo Code: <span class="promo"> {{ c.promo_code }}</span></p>
                            <p class="expire">Expires: {{ c.expired }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </span>
              </p>
            </td>
        </table>
      </div>
    </div>
  
    <script>
      // Get the button that opens the modal
      var btn = document.querySelectorAll(".coupon__tag");

      // All page modals
      var modals = document.querySelectorAll('.modal');

      // Get the <span> element that closes the modal
      var spans = document.getElementsByClassName("close");

      // When the user clicks the button, open the modal
      for (var i = 0; i < btn.length; i++) {
        btn[i].onclick = function (e) {
          e.preventDefault();
          modal = document.querySelector(e.target.getAttribute("href"));
          modal.style.display = "block";
        }
      }

      // When the user clicks on <span> (x), close the modal
      for (var i = 0; i < spans.length; i++) {
        spans[i].onclick = function () {
          for (var index in modals) {
            if (typeof modals[index].style !== 'undefined') modals[index].style.display = "none";
          }
        }
      }

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function (event) {
        if (event.target.classList.contains('modal')) {
          for (var index in modals) {
            if (typeof modals[index].style !== 'undefined') modals[index].style.display = "none";
          }
        }
      }
    </script>

    {% autoescape off %}
      {{ menu }}
    {% endautoescape %}

    <div class="grid-container">
      {% autoescape off %}
        {{ review_seeding }}
        {{ component_score }}
      {% endautoescape %}
    </div>
    
    <br>

    {% autoescape off %}
      {{ user_score }}
    {% endautoescape %}


    <!-- <br>
    <div class="table-container">
      <table class="table table-striped bg-light">
        <thead class="thead-dark">
          <tr>
            <th scope="col"
                style="width: 500px;line-height: 20px;vertical-align: middle;overflow: hidden;white-space: nowrap;overflow: hidden;max-width: 500px;text-overflow: ellipsis;">
                Cửa hàng</th>
            <th scope="col"
                style="width: 180px;max-width: 180px;line-height: 20px; overflow:hidden;vertical-align: middle;text-align: center;">
                Quận</th>
            <th scope="col"
                style="width: 150px;max-width: 150px;line-height: 20px; overflow:hidden;vertical-align: middle;text-align: center;">
                Ẩm thực</th>
            <th scope="col"
                style="width: 70px;max-width: 70px;line-height: 20px; overflow:hidden;vertical-align: middle;text-align: center;">
                Điểm</th>
            <th scope="col"
                style="width: 150px;max-width: 150px;line-height: 20px; overflow:hidden;vertical-align: middle;text-align: center;">
                Giá</th>
            <th scope="col"
                style="width: 90px;max-width: 90px;line-height: 20px; overflow:hidden;vertical-align: middle;text-align: center;">
                Giờ mở cửa</th>
            <th scope="col"
                style="width: 90px;max-width: 90px;line-height: 20px; overflow:hidden;vertical-align: middle;text-align: center;">
                Số lượt xem</th>
            <th scope="col"
                style="width: 90px;max-width: 90px;line-height: 20px; overflow:hidden;vertical-align: middle;text-align: center;">
                Số đánh giá</th>
            <th scope="col"
                style="width: 70px;max-width: 70px;line-height: 20px; overflow:hidden;vertical-align: middle;text-align: center;">
                Tỷ lệ QC</th>
            <th style="width: 2px;max-width: 2px;padding-left: 9px;padding-right: 9px;"></th>
          </tr>
        </thead>
      </table>
    </div> -->

  </body>
</html>